.char-name {
    text-align: center;
    font-size: 6rem;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    margin-right: 10px;
}

.char-stat {
    font-weight: bold;
}

.char-stat-span {
    font-weight: normal;
}